  input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
  }
  .circle-buttom{
    text-decoration: none;
    color: #fff;


  }
  .circle-buttom:hover{
    text-decoration: none;
    color: #fff;

  }

  .nopadding{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  .btn-edit-blue{
    color: #fff;
    background: #2CB5E8; 
    border: 2px solid #2CB5E8;
  }

  .btn-edit-blue:hover{
    background-color: transparent;
    text-decoration: none;
    color: #2CB5E8;
    border-color: #2CB5E8;
  }

  .hr{
    border-color: #1fc8db;
  }

  /* |||||||||||||||||||| First Carousel |||||||||||||||||||||*/

  .carousel-father{

    &__carousel-sticker{
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-black, 0.6),
        rgba($color-black, 0.6));
      background-size: cover;
      background-position: top;

      //  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
       //   -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 70% 100%, 0 100%);
       //   clip-path: polygon(0 0, 100% 0, 100% 83%, 73% 97%, 0 97%);
       // }
     }

     &__img-carousel{

      @include respond(medium-desktop){
        height: 50vh;
      }
      @include respond(ipad-pro){
        height: 470px;
      }
      @include respond(desktop){
        height: 580px;
      }
      @include respond(tab){
        height: 500px;
      }

      @include respond(tab-port){
        height: 470px;
      }

      @include respond(phone-land){
        height: 370px;
        max-height: 100%;
      }
      @include respond(m-phone){
        height: 300px;
        max-height: 100%;
      }
      @include respond(s-phone){
        height: 286px;
        max-height: 100%;
      }
    }

    &__carousel-inner{

     & .hero-section-text{

       &__btn {
         width: 60%;
         padding: 10px;
         margin-top: 50px;
         font-size: $m-size;
         background: $color-secondary;
         border-color: $color-secondary;
         font-family: 'SuecaSemiBold', sans-serif;
         position: relative;

         animation: moveInBottom 1s ease-out;
         @include respond(m-phone){
          width: 80%;
        }

      }
      &__btn::hover {
       background: $color-white;
       border-color: $color-white;
       color: $color-secondary;
       transform: translateY(-3px);
       box-shadow: 0 1rem 2rem rgba($color-black,.2);

       &__btn::after {
         transform: scaleX(1.4) scaleY(1.6);
         opacity: 0;
         background: $color-white;
       }
     }

     &__btn::after {
       content: "";
       display: inline-block;
       height: 100%;
       width: 100%;
       border-radius: 0.25rem;
       position: absolute;
       top: 0;
       left: 0;
       z-index: -1;
       transition: all .4s;
       background: $color-secondary
     }

     position: absolute;
     top: 35%;
     left: 35%;
     z-index: 1001;

     @include absCenter();
     color: $color-white;
     text-align: center;
     text-shadow: 1px 1px 2px #0a0a0a;
     font-size: $xl-size /2;

     & img {
      max-width: 40%;
      animation: moveInLeft 1s ease-in-out;

      @include respond(m-phone){
       max-width: 80%;
     }
   }

   & h5 {
    animation: moveInRight 1s ease-in-out;
    font-size: $m-size;
  }


}

&__carousel-item{
  z-index: 1000;

}
}

}


// .hero-section {
  //   height: 70vh;
  //   margin-top: 10px;
  //   background-image: linear-gradient(
  // to right bottom,
  //     rgba($color-primary, 0.5),
  //     rgba($color-primary-dark, 0.8)),
  //   url('/images/hero.png');
  //   background-size: cover;
  //   background-position: center;
  //   position: relative;

  //   @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    //     -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 70% 100%, 0 100%);
    //     clip-path: polygon(0 0, 100% 0, 100% 55vh, 70% 100%, 0 100%);
    //   }

    //   &__btn {
      //     width: 80%;
      //     padding: 10px;
      //     margin-top: 50px;
      //     font-size: $m-size;
      //     background: $color-secondary;
      //     border-color: $color-secondary;
      //     font-family: 'SuecaSemiBold', sans-serif;
      //     position: relative;

      //     animation: moveInBottom 1s ease-out;

      //     &:hover {
        //       background: $color-white;
        //       border-color: $color-white;
        //       color: $color-secondary;

        //       transform: translateY(-3px);
        //       box-shadow: 0 1rem 2rem rgba($color-black,.2);

        //       &::after {
          //           transform: scaleX(1.4) scaleY(1.6);
          //           opacity: 0;
          //           background: $color-white;
          //       }
          //     }

          //     &::after {
            //       content: "";
            //       display: inline-block;
            //       height: 100%;
            //       width: 100%;
            //       border-radius: 0.25rem;
            //       position: absolute;
            //       top: 0;
            //       left: 0;
            //       z-index: -1;
            //       transition: all .4s;
            //       background: $color-secondary
            //     }
            //   }

            //   &-text {
              //     @include absCenter();
              //     color: $color-white;
              //     text-align: center;
              //     text-shadow: 1px 1px 2px #0a0a0a;
              //     font-size: $xl-size / 2;

              //     & h1 {
                //       font-family: 'SuecaSemiBold', sans-serif;
                //       text-transform: uppercase;
                //       font-size: $xl-size;
                //       animation: moveInLeft 1s ease-in-out;
                //     }

                //     & h5 {
                  //       animation: moveInRight 1s ease-in-out;
                  //     }
                  //   }
                  // }

                  /* |||||||||||||||||||| Second Carousel |||||||||||||||||||||*/


                  .box-title{
                    min-height: 52px;
                  }

                  .box-description{
                    max-height: 240px;
                    height: 105px;
                    overflow-y: auto;
                  }



                  /* Tabs */

                  .nav-tabs {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                  }

                  .nav-tabs>li {
                    display: block;
                    position: relative;
                    text-align: center;
                  }

                  .nav-tabs>li:last-child {
                    margin-right: 0;
                  }

                  .tab-content {
                    display: inline-block;
                    width: 100%;
                  }

                  .tab-content .tab-pane {
                    display: none;
                  }

                  .tab-content .tab-pane.active {
                    display: block;
                  }

                  .item h5 {
                    word-wrap: break-word;
                    padding: 3px;
                  }

                  .box-description p{
                    word-wrap: break-word;
                    margin: 0;
                    padding: 3px;
                  } 

                  /* |||||||||||||||||||| Profile |||||||||||||||||||||*/
                  .box-panel-admin{
                    border: 1px solid #1fc8db;
                  }

                  .img-profile{
                    border-radius: 50%;
                    max-width: 90%;
                  }


                  .box-img{
                    padding: 2em;
                  }

                  .box-admin{
                    margin: 10% auto;
                    padding: 10px;
                  }

                  .edit-section{
                    margin: 5% auto;
                    padding: 0px 5%;
                  }
                  /* |||||||||||||||||||| Dashboard-admin |||||||||||||||||||||*/


                  .padding-button{
                   padding: 15px 0 !important;
                   background-color: #2CB5E8;
                 }

                 #blue{
                  background-color: #4267b2;
                  box-shadow: 2px 2px 2px #cfcfcf;
                }

                #green{
                  background-color: #a1bc31;
                  box-shadow: 2px 2px 2px #cfcfcf;
                }

                #purple{
                  background: #c27ba0;
                  box-shadow: 2px 2px 2px #cfcfcf;
                }

                /* |||||||||||||||||||| Benefits Details|||||||||||||||||||||*/

                .box-benefits{
                  margin: 5% auto;
                }

                .social-benefits{
                  font-size: 25px;
                  color: #c1c1c1;
                  padding: 15px;
                  margin: 5px auto;
                }

                .social-benefits:hover{
                  text-decoration: none;
                  color: #2CB5E8;
                }

                .b-radius{
                  border-radius: 0 !important;
                }



                .edit-carousel{
                  height: 200px;

                  @include respond(tab-port) {
                    max-height: 240px; 
                  }
                }

                .edit-card{
                  min-height: 125px;

                  @include respond(tab-port){
                    min-height: auto;
                  }
                }

                .box-center{
                  margin: 5% auto;
                }

                .btn-benefit{
                  background: #2CB5E8;
                  color: #fff;
                  border-radius: 0;
                  box-shadow: 2px 2px 2px #cfcfcf;
                  width: 100%;
                  padding: 4% 0;
                  border: 2px solid #2CB5E8;
                  cursor: pointer;
                  font-size: 1.3em;
                  transition: .5s;
                  font-weight: 580;

                  @include respond(tab-port) {
                    font-size: 1em;
                  }
                }

                .btn-benefit:hover {
                  border: 2px solid #2CB5E8;
                  background-color: #fff;
                  color: #2CB5E8;
                }

                .center-text{
                  margin: 6% 10%;
                }

                /*||||||||||||||||||| Franchise |||||||||||||||||||||||*/


                .container-franchise{

                  margin: 5% auto;

                  &__limit-img{
                    max-height: 360px;


                    & img{
                      max-height: 360px;
                      max-width: 100%;
                    }
                  }

                  &__star{
                    font-size: 30px;
                    cursor: pointer;
                  }

                }

                .card-style{
                  margin: auto 5%;


                  &__separator{
                    margin: 1em auto;
                  }

                  @include respond(tab){
                    margin: auto 10%;
                  }

                  @include respond(m-phone){
                    margin: auto;
                  }

                  &__limit-img{
                   width: 100%;
                   border-radius: 7px;
                   height: 230px;


                   & img{
                    max-height: auto;
                    max-width: 100%;
                  }

                }

                &__title{
                  font-family: 'Montserrat', sans-serif;
                  font-size: $title-size;
                  color: $color-primary;
                  text-align: start;
                }

                &__text{
                 font-family: 'SuecaMedium', sans-serif; 
                 text-align: justify;
                 font-size: $text-size;
                 color: $color-grey-dark;

               }

               &__social{
                padding: 15px;
                border-left: 2px solid $color-grey-light-1;
                height: 100%;
                text-align: left;
                font-size: $s-size +.2;

                & label{
                  color: $color-primary;
                }

                & p{
                  color: $color-grey-dark;
                }
              }

              &__more{
                width: 100%;
                z-index: 150;
                font-size: $m-size;
                background-color: $color-secondary;
                color: $color-white;
                transition: .3s;

                &:hover{
                  background-color: $color-primary;
                  color: $color-white;
                  letter-spacing: 1.5px;
                }
              }
            }




            // .edit-section2{
              //   margin: 5% 15%;
              // }

              // .box-description2{
                //   overflow-y: auto;
                //   word-wrap: break-word;
                //   height: 100px;

                //   @include respond(tab-land) {
                  //     height: 60px;
                  //   }

                  // }

                  // .card-footer2{
                    //   border: none;
                    //   padding: 0;
                    // }

                    // .img-franchise{
                      //   max-height: 350px;
                      //   width: 100%;
                      // }

                      // .img-publicist{
                        //   max-height: 250px;
                        // }

                        /*||||||||||||||||||| Closest Benefits |||||||||||||||||||||||*/

                        .center-km{
                          width: 65%;
                          margin: auto;
                          text-align: center;
                        }

                        .box-panel-closest{
                          overflow-y: scroll;
                          overflow-x: hidden;
                        }

                        .border-closest{
                          border-bottom: 1px solid #000066;

                          @include respond(tab-port) {
                            border: none;
                          }
                        }

                        .border-closest2{
                          border-left: 1px solid #000066;

                          @include respond(tab-port) {
                            border: none;
                          }
                        }


                        /* Code maps */



                        #panel, #flip {
                          padding: 5px;
                          text-align: center;
                          background-color: #e5eecc;
                          border: solid 1px #c3c3c3;
                        }

                        #panel {
                          padding: 50px;
                          display: none;
                        }

                        .section__title {
                          color: $color-white;
                          background: $color-black;
                          font-family: 'Montserrat', sans-serif;
                          border-left: 1px solid $color-grey-light-1;
                          border-right: 1px solid $color-grey-light-1;
                          border-top: 1px solid $color-grey-light-1;
                          text-align: center;
                          width: fit-content;
                          padding: 5px;
                          margin: 50px auto 0px;

                          &-separator {
                            margin-top: 0;
                            margin-bottom: 0;
                            background: $color-grey-light-1;
                          }
                        }

                        //Search bounceInDown


                        .header {
                          max-width: auto;
                        }

                        .header-nav {
                          position: relative;
                          padding-right: 3em;
                        }
                        .header-nav:before, .header-nav:after {
                          content: '';
                          display: table;
                        }
                        .header-nav:after {
                          clear: both;
                        }

                        .menu {
                          list-style-type: none;
                          position: relative;
                          top: 20px;
                        }

                        .search-button {
                          position: absolute;
                          right: 20px;
                          top: 33px;
                          -webkit-transform: translate(0, -50%);
                          transform: translate(0, -50%);
                        }

                        .search-toggle {
                          position: relative;
                          display: block;
                          height: 10px;
                          width: 10px;
                        }
                        .search-toggle::before, .search-toggle::after {
                          content: '';
                          position: absolute;
                          display: block;
                          transition: all 0.1s;
                        }
                        .search-toggle::before {
                          border: 2px solid #fff;
                          border-radius: 50%;
                          width: 200%;
                          height: 200%;
                          left: -2px;
                          top: -10px;
                        }
                        .search-toggle::after {
                         height: 2px;
                         width: 12px;
                         background: #fff;
                         top: 11px;
                         left: 10px;
                         -webkit-transform: rotate(45deg);
                         transform: rotate(45deg);
                       }
                       .search-toggle.active::before {
                        width: 0;
                        background: $color-white;
                        border-width: 1px;
                        border-radius: 0;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                        top: -5px;
                        left: 2px;
                      }
                      .search-toggle.active::after {
                        background: $color-white;
                        background: #fff;
                        width: 22px;
                        left: -6px;
                        top: 3.5px;
                      }

                      .search-input:focus {
                        outline: none;
                      }


                      #header-3 .search-box {
                        position: absolute;
                        right: 48px;
                        top: 20px;
                        height: 100%;
                        width: auto;
                        padding: 0;
                        opacity: 0;
                        transition: all 0.3s;
                      }
                      #header-3 .search-box .search-input {
                        border: 0;
                        width: 95%;
                        height: 100%;
                        background-color: transparent;
                        position: absolute;
                        border-bottom: 2px solid $color-white;
                        color: $color-white;
                        top: -10px;
                        @include respond (ipad-pro){
                          top: -25px;
                        }
                      }
                      #header-3 .search-box .search-toggle {
                        width: 14px;
                        height: 14px;
                        padding: 0;
                        position: absolute;
                        left: 5px;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                      }
                      #header-3.show .menu li {
                        opacity: 0;
                        transition: all 0.3s;
                      }
                      #header-3.show .menu li:nth-child(even) {
                        -webkit-transform: translateY(-100%);
                        transform: translateY(-100%);
                      }
                      #header-3.show .menu li:nth-child(odd) {
                        -webkit-transform: translateY(100%);
                        transform: translateY(100%);
                      }
                      #header-3.show .search-box {
                        width: 75%;
                        opacity: 1;
                        transition: all 0.3s 0.3s;
                      }


                      // BOXES CATEGORY SECTION //

                      .service-box{
                        position: relative;
                        overflow: hidden;
                        margin-bottom:10px;
                        perspective:1000px;
                        -webkit-perspective:1000px;
                      }
                      .service-icon{
                        width: 100%;
                        height: 220px;
                        text-align: center;
                        transition: all .5s ease;
                      }

                      .service-content{
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;
                        margin: 0 auto;
                        opacity: 0;
                        width: 100%;
                        height: 220px;
                        padding: 20px;
                        text-align: center;
                        transition: all .5s ease;
                        background-color: #474747;
                        backface-visibility:hidden;
                        transform-style: preserve-3d;
                        -webkit-transform: translateY(110px) rotateX(-90deg);
                        -moz-transform: translateY(110px) rotateX(-90deg);
                        -ms-transform: translateY(110px) rotateX(-90deg);
                        -o-transform: translateY(110px) rotateX(-90deg);
                        transform: translateY(110px) rotateX(-90deg);
                      }
                      .service-box .service-icon .front-content{
                        position: relative;
                        height: 100%;
                        top:60px;
                        -webkit-transform: translateY(-50%);
                        -moz-transform: translateY(-50%);
                        -ms-transform: translateY(-50%);
                        -o-transform: translateY(-50%);
                        transform: translateY(-50%);
                      }

                      .service .service-icon .front-content{
                        height: 100%;
                      }

                      .service-box .service-icon .front-content img{
                        height: 100%;
                      }

                      .service-box .service-icon .front-content i {
                        font-size: 28px;
                        color: #fff;
                        font-weight: normal;
                      }

                      .service-box .service-icon .front-content h3 {
                        font-size: $m-size;
                        color: $color-white;
                        text-align: center;
                        font-weight: 700;
                        margin: 6% auto;
                        text-transform: uppercase;
                      }
                      .service-box .service-content h3 {
                        font-size: 15px;
                        font-weight: 700;
                        color: #fff;
                        margin-bottom:10px;
                        text-transform: uppercase;
                      }
                      .service-box .service-content p {
                        font-size: 13px;
                        color: #b1b1b1;
                        margin:0;
                      }

                      .span-box{
                        font-size: $l-size + .5;
                        color: $color-white;
                          position:relative;
                          top: 10px;
                      }
                      .background-box{
                       background-color: $color-primary;
                     }
                     .service-box:hover .service-icon{
                      opacity: 0;
                      -webkit-transform: translateY(-110px) rotateX(90deg);
                      -moz-transform: translateY(-110px) rotateX(90deg);
                      -ms-transform: translateY(-110px) rotateX(90deg);
                      -o-transform: translateY(-110px) rotateX(90deg);
                      transform: translateY(-110px) rotateX(90deg);
                    }
                    .service-box:hover .service-content {
                      opacity: 1;
                      -webkit-transform: rotateX(0);
                      -moz-transform: rotateX(0);
                      -ms-transform: rotateX(0);
                      -o-transform: rotateX(0);
                      transform: rotateX(0);
                    }

