#owl-carousel-article{
	margin-top: 30px;
}

.article-father{
	padding: 3% 0;

	

	&__body{
		background: $color-white;
		&__title{
			h2{
				margin: 5px 10px;
				font-size: 52px;
				color: $color-primary;
				font-family: 'Montserrat', sans-serif;
				margin-bottom: 10px;
				letter-spacing: -1.15px;
				line-height: 110%;
				font-weight: normal
			}
		}

		&__divider{
			margin: 5px 10px;
			border-top: 1px solid #c9c9c9;
			border-bottom: 1px solid #c9c9c9;
			color: $color-grey-dark;

			span{
				line-height: 45px;
				vertical-align: middle;
			}

			a{
				display: inline-block;
				position: relative;
				cursor: pointer;
				width: 30px;
				height: 30px;
				text-decoration: none;
				text-align: center;
				color: $color-white;
				background: $color-primary;
				font-size: 14px;
				margin: 3px 5px;
				font-weight: normal;
				border-radius: 25px;
				-moz-border-radius: 25px;
				-webkit-border-radius: 25px;
				font-size: 16px;
				vertical-align: middle;
				display: inline-block;

				svg{
					top: 4px;
					position: relative;
				}
			}
		}

		&__image-container{
			max-width: 100%;




			&__image{
				width: 100%;
				max-height: 380px;
				margin: 0 auto;
				
			}
		}

		&__text{
			margin-top: 5px;
			border-top: 1px solid #c9c9c9;
			color: $color-grey-dark;
			font-family: 'SuecaMedium', sans-serif;
			color: $text-size;
			text-align: justify;
			border-bottom: 1px solid #c9c9c9;
		}

		&__footer{
			background: $color-primary;

			a{
				font-size: $m-size;
				color: $color-white;
				margin: 5px 15px;
			}
		}
	}

	&__carousel{

		padding: 7.5% 0;

		&__section-title{
			color: #fff;
			background: #000;
			font-family: 'Montserrat', sans-serif;
			border-left: 1px solid #808285;
			border-right: 1px solid #808285;
			border-top: 1px solid #808285;
			text-align: center;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			padding: 5px;
			margin: 50px auto 0px;

			&__title{
				font-size: $m-size + .5;
				font-family: 'Montserrat', sans-serif;
				border-bottom: 1px solid $color-black;
			}
		}

		a{
			text-decoration: none;
			color: inherit;

		}

		a:hover{

		}


		&__body{
			border: 1px solid $color-black;
			box-shadow: 3px 3px 3px #c1c1c1;

			&__image{
				max-height: 130px;
				width: 100%;
				width: auto;
				height: auto;

				@include respond(m-phone){
					height: 130px !important;
				}
			}
			&__title{
				font-family: 'Montserrat', sans-serif;
				font-size: $title-size;
				color: $color-primary;
			}

		}

	}
}
