.benefit-father{
	background: #edf0f9;
	padding: 3% 0;

	&__container{
		min-height: 720px;
	}

	&__container-image{
		width: 100%;
		height: auto;
		&__image{
			max-height: 180px;
			width: 100%;
			@include respond(tab-port){
				max-height: 220px;
			}
		}
	}

	&__title{
		font-size: $m-size + .3;
		color: $color-primary;
		font-family: "Monserrat", sans-serif;
	}

	&__text{
		color: $color-grey-dark;
		font-family: "Sueca", sans-serif;
		font-size: $text-size + .3;
	}

	&__card-benefit{
		background: $color-white;
		box-shadow: 3px 3px 3px #c1c1c1;
	}
}