.category-father{
	margin: 5% auto;


	&__title{
		font-size: $l-size;
		color: $color-primary;
		font-family: "Monserrat", sans-serif;
		text-transform: uppercase;
		margin-top: 4px;
	}
	&__icon{
		color: $color-white;
		background: $color-primary;;
		border-radius: 50px;
		padding: 11px;
		width: 50px !important;
		height: 50px;
		margin: .6% 10px;
		margin-left: 25px;
	}

	&__icon:hover{
		background: $color-secondary;
	}
}