.closet-container{
	@include respond(big-desktop){
		margin: auto 5%;
	}
}

.box-km{
	& button{
		background-color: $color-primary;
		color: $color-white;
		border: 2px solid $color-primary;
		font-size: $m-size;
	}
	& button:hover{
		background-color: $color-white ;
		color: $color-primary;
		border: 2px solid $color-primary;
		font-size: $m-size;
	}
}

.box-panel-closest{
	max-height: 650px;
	@include respond(m-phone){
	}
	
	&__title{
		font-family: 'Montserrat', sans-serif;
		font-size: $title-size;
		text-align: start;
		color: $color-primary;
	}
	&__text{
		font-family: 'SuecaMedium', sans-serif; 
		font-size: $text-size;
		color: $color-grey-dark;
		text-align: justify;
	}
	& a {
		background-color: $color-primary;
		color: $color-white;
		border: 2px solid $color-primary;
		font-size: $m-size;
	}

	& a:hover{
		background-color: $color-white ;
		color: $color-primary;
		border: 2px solid $color-primary;
		font-size: $m-size;
	}
}

.box-img-gps{
	#map_canvas{
		height: 100% !important;
		@include respond(big-desktop){
			height: 55% !important;
			width: 85% !important;
		}
		@include respond(tab-land){
			height: 55% !important;
		}
		@include respond(tab){
			height: 50vh !important;
		}
		@include respond(s-phone){
			height: 50vh !important;
		}
	}
}