.custom-radio .custom-control-input:checked ~ .custom-control-label::before{
	background-color: $color-primary;
}

.box-dashboard-list{
	
	width:100%;
	text-align: left;

	&__title{
		color: $color-secondary;
		font-family: 'Montserrat', sans-serif;
		 font-size: $title-size;
		text-align: center;
	}

	&__search{
		font-size: $m-size;
		border-color: $color-primary;
	}

	&__custom-label::before{
		width: 1.15em;
		height: 1.15em;
	}

	&__custom-label::after{
		background-size: 100% 100%;
		top: .45em;
		left: 4.5px;
	}
	
	& button{
		background-color: $color-primary;
		color: $color-white;
		font-size: $m-size;
		border: 2px solid $color-primary;
	}
	& button:hover{
		background-color: $color-white ;
		color: $color-primary;
		border: 2px solid $color-primary;
	}

	&__select{
		border-color: $color-primary;
	}
}

.card-list {
	text-align: right;
	border-radius: 1rem;
	box-shadow: 0px 2px 5px 0.5px #e9ecef;
	border: none;
	border-top: 5px solid $color-primary;

	&__title {
		font-family: 'Montserrat', sans-serif;
		font-size: $title-size;
		text-align: start;
		color: $color-primary;

		@include respond(phone-land) {
			font-size: $m-size/1.1;
		}
	}
	&__text{
		font-family: 'SuecaMedium', sans-serif; 
		font-size: $text-size;
		 color: $color-grey-dark;
		text-align: start;
	}

	& a {
		background-color: $color-primary;
		color: $color-white;
		font-size: $m-size;
		border: 2px solid $color-primary;
	}

	& a:hover{
		background-color: $color-white ;
		color: $color-primary;
		border: 2px solid $color-primary;
	}
}



//checkbox//

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

	/*Page styles*/
	.boxes {
		margin: auto;
	}

	/*Checkboxes styles*/
	.checkbox-edit { display: none; }

	.checkbox-edit + label {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 20px;
		font-family: 'SuecaSemiBold', sans-serif;
		font-size: $m-size;
		color: $color-primary;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
	}

	.checkbox-edit + label:last-child { margin-bottom: 0; }

	.checkbox-edit + label:before {
		content: '';
		display: block;
		width: 20px;
		height: 20px;
		border: 1px solid $color-secondary;
		position: absolute;
		left: 0;
		top: 0;
		opacity: .6;
		-webkit-transition: all .12s, border-color .08s;
		transition: all .12s, border-color .08s;
	}

	.checkbox-edit:checked + label:before {
		width: 10px;
		top: -5px;
		left: 5px;
		border-radius: 0;
		opacity: 1;
		border-top-color: transparent;
		border-left-color: transparent;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}