/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@font-face {
  font-family: SuecaMedium;
  src: url("/fonts/sueca-medium.ttf");
}

@font-face {
  font-family: SuecaSemiBold;
  src: url("/fonts/sueca-bold.ttf");
}

@font-face {
  font-family: PrumoBold;
  src: url("/fonts/PrumoSlab-Bold.otf");
}

@font-face {
  font-family: PrumoMedium;
  src: url("/fonts/PrumoSlab-Medium.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'SuecaMedium', sans-serif;
  font-size: 1.6rem;
}

.u-center-text {
  text-align: center !important;
}

.u-auto-margin {
  margin: auto;
}

.u-padding-rightbig {
  padding-right: 50px;
}

.u-leftspacing-zero {
  padding-left: 0;
  margin-left: 0;
}

.content__ranking {
  -webkit-animation: moveInBottom 1s ease-in-out;
          animation: moveInBottom 1s ease-in-out;
}

.card {
  text-align: right;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 2px 5px 0.5px #e9ecef;
          box-shadow: 0px 2px 5px 0.5px #e9ecef;
  border: none;
  border-top: 5px solid #000066;
}

.card-title {
  font-family: 'SuecaSemiBold', sans-serif;
  font-size: 1.6rem;
  padding-left: 140px;
  margin: 5rem 0;
  text-align: start;
}

@media only screen and (max-width: 43.75em) {
  .card-title {
    font-size: 1.45454545rem;
  }
}

.card svg {
  color: #fff;
  background: #00298f;
  margin-top: 5px;
  border-radius: 50px;
  padding: 20px;
  width: 100px !important;
  height: 100px;
  position: absolute;
  left: 20px;
  top: 10px;
}

.card svg:hover {
  background: #2cb5e8;
}

.ranking-item-father {
  position: relative;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 25rem;
}

@media only screen and (min-width: 68em) {
  .ranking-item-father {
    height: 30rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .ranking-item-father {
    height: 40rem;
  }
}

@media only screen and (min-width: 112.5em) {
  .ranking-item-father {
    height: 45rem;
  }
}

.ranking-item-father:hover > .ranking-item {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.ranking-item-father:hover > .ranking-item-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.ranking-item-father > .ranking-item, .ranking-item-father > .ranking-item-back {
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 25rem;
  position: absolute;
  top: 0;
  left: 0;
}

@media only screen and (min-width: 68em) {
  .ranking-item-father > .ranking-item, .ranking-item-father > .ranking-item-back {
    height: 30rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .ranking-item-father > .ranking-item, .ranking-item-father > .ranking-item-back {
    height: 40rem;
  }
}

@media only screen and (min-width: 112.5em) {
  .ranking-item-father > .ranking-item, .ranking-item-father > .ranking-item-back {
    height: 45rem;
  }
}

.ranking-item-father > .ranking-item-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.ranking-item {
  margin-bottom: 1.2rem;
}

.ranking-item a:hover .ranking-item__title {
  color: #00298f;
}

.ranking-item__title {
  color: #000;
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
  display: none;
}

@media only screen and (max-width: 75em) {
  .ranking-item__title {
    display: block;
  }
}

.ranking-item a {
  font-size: 1.6rem;
  background: #00298f;
  border-color: #00298f;
}

.ranking-item a:hover {
  color: #00298f;
  background: #fff;
}

.ranking-item .btn-primary {
  margin-right: 50px;
}

.ranking-item__image-container {
  position: relative;
}

.ranking-item__image-container__sticker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 181, 232, 0.5)), to(#2cb5e8));
  background-image: linear-gradient(to right bottom, rgba(44, 181, 232, 0.5), #2cb5e8);
  background-size: cover;
  background-position: top;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .ranking-item__image-container__sticker {
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 85%, 90% 100%, 50% 100%);
    clip-path: polygon(50% 0, 100% 0, 100% 85%, 90% 100%, 50% 100%);
  }
}

.ranking-item__image-container__sticker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 7.2rem;
  font-family: 'PrumoBold', sans-serif;
}

@media only screen and (min-width: 112.5em) {
  .ranking-item__image-container__sticker-text {
    font-size: 6.24rem;
  }
}

@media only screen and (max-width: 75em) {
  .ranking-item__image-container__sticker-text {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .ranking-item__image-container__sticker-text {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .ranking-item__image-container__sticker-text {
    font-size: 4.8rem;
  }
}

.ranking-item-back {
  margin-bottom: 1.2rem;
}

.ranking-item-back a:hover .ranking-item__title {
  color: #00298f;
}

.ranking-item-back__title {
  color: #000;
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
}

.ranking-item-back a {
  font-size: 1.6rem;
  background: #00298f;
  border-color: #00298f;
}

.ranking-item-back a:hover {
  color: #00298f;
  background: #fff;
}

.ranking-item-back .btn-primary {
  margin-right: 50px;
}

.ranking-item-back__image-container {
  position: relative;
}

.ranking-item-back__image-container__sticker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 181, 232, 0.5)), to(#2cb5e8));
  background-image: linear-gradient(to right bottom, rgba(44, 181, 232, 0.5), #2cb5e8);
  background-size: cover;
  background-position: top;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .ranking-item-back__image-container__sticker {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%);
  }
}

.ranking-item-back__image-container__sticker-text {
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 3rem;
  font-family: 'PrumoBold', sans-serif;
}

@media only screen and (min-width: 112.5em) {
  .ranking-item-back__image-container__sticker-text {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 75em) {
  .ranking-item-back__image-container__sticker-text {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .ranking-item-back__image-container__sticker-text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .ranking-item-back__image-container__sticker-text {
    font-size: 3rem;
  }
}

.shops__container {
  padding: 10px;
}

.shops__container .box-description {
  height: 70px;
  max-height: inherit;
  overflow: hidden;
}

.shops__container a img {
  height: 130px;
}

.li-config {
  cursor: default;
  display: inline-block;
  font-size: 15px;
  padding: 0 5px;
  list-style-type: none;
}

.rating {
  padding-left: 0;
}

.star,
.rating:not(.vote-cast):hover .star:hover ~ .star,
.rating.vote-cast .star.selected ~ .star {
  /* normal state */
  color: #c1c1c1;
}

.rating:hover .star,
.rating.vote-cast .star {
  /* highlighted state */
  color: #f9e25c;
}

/*   code star end  */
.owl-dots {
  display: none;
}

.card-item {
  margin-bottom: 1.2rem;
}

.card-item a:hover .card-item__title {
  color: #00298f;
}

.card-item__title {
  color: #000;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
}

.card-item a {
  font-size: 1.6rem;
  background: #00298f;
  border-color: #00298f;
}

.card-item a:hover {
  color: #00298f;
  background: #fff;
}

.card-item__image-container {
  position: relative;
}

.card-item__image-container__sticker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 181, 232, 0.5)), to(#2cb5e8));
  background-image: linear-gradient(to right bottom, rgba(44, 181, 232, 0.5), #2cb5e8);
  background-size: cover;
  background-position: top;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .card-item__image-container__sticker {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
}

.card-item__image-container__sticker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 4.8rem;
  font-family: 'PrumoBold', sans-serif;
}

@media only screen and (min-width: 112.5em) {
  .card-item__image-container__sticker-text {
    font-size: 4.16rem;
  }
}

@media only screen and (max-width: 75em) {
  .card-item__image-container__sticker-text {
    font-size: 3.84rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(60%, -20%);
            transform: translate(60%, -20%);
  }
}

.owl-stage-outer {
  padding-bottom: 10px;
}

.news-item {
  margin-bottom: 1.2rem;
}

.news-item a:hover .news-item__title {
  color: #00298f;
}

.news-item__autor {
  color: #000;
  padding-top: 5px;
  padding-left: 10px;
  float: left;
}

.news-item__date {
  color: #000;
  padding-top: 5px;
  padding-right: 10px;
  float: right;
}

.news-item a {
  font-size: 1.6rem;
  background: #00298f;
  border-color: #00298f;
}

.news-item a:hover {
  color: #00298f;
  background: #fff;
}

.news-item__image-container {
  position: relative;
}

.news-item__image-container__sticker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 41, 143, 0.5)), to(#00298f));
  background-image: linear-gradient(to right bottom, rgba(0, 41, 143, 0.5), #00298f);
  background-size: cover;
  background-position: top;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .news-item__image-container__sticker {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  }
}

.news-item__image-container__sticker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 1.6rem;
  font-family: 'PrumoBold', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100px;
}

@media only screen and (min-width: 112.5em) {
  .news-item__image-container__sticker-text {
    font-size: 2.4rem;
  }
}

.footer {
  font-family: 'SuecaSemiBold', sans-serif;
  color: #fff;
  background: #000066;
  padding: 15px;
  border: 0;
}

.footer__social {
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__social:hover {
  color: #2cb5e8;
}

.footer__social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
}

@media only screen and (max-width: 30em) {
  .footer-media {
    float: none !important;
  }
}

.footer-copyright {
  width: 100%;
  font-family: 'SuecaMedium', sans-serif;
  font-size: 1.2rem;
}

@media only screen and (max-width: 30em) {
  .footer-copyright {
    margin-top: 20px;
  }
}

.footer-links {
  font-size: 1.2rem;
}

.footer-links-container {
  border-right: 1px solid;
}

@media only screen and (max-width: 30em) {
  .footer-links-container {
    border-right: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}

.footer-links ul {
  list-style: none;
}

@media only screen and (max-width: 30em) {
  .footer-links ul {
    margin-top: 20px;
  }
}

.footer-links ul li {
  line-height: 3;
  font-family: 'SuecaMedium', sans-serif;
  font-weight: 100;
}

.footer-links ul li:hover {
  cursor: pointer;
  color: #2cb5e8;
}

.footer-links span {
  opacity: 0;
}

.btn-edit-login {
  margin-top: 4px;
  border: 2px solid #2cb5e8;
  background: #fff;
  color: #2cb5e8;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 20px;
  padding: 0px 20px;
}

@media only screen and (max-width: 37.5em) {
  .btn-edit-login {
    padding: 3.5px 20px;
  }
}

.btn-edit-login:hover {
  background: #2cb5e8;
  border-color: #fff;
  color: #fff !important;
  text-decoration: none;
}

@media only screen and (max-width: 61.95em) {
  .btn-edit-login {
    background: #fff;
    color: #00298f;
    border: 2px solid #00298f;
    text-align: center;
    border-radius: 0;
    width: 60%;
    margin: 0 auto;
  }
}

.btn-search {
  height: 25px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 61.95em) {
  .btn-search svg {
    background: #fff;
    color: #00298f;
    height: 25px;
    padding: 10%;
    margin: 0px;
    position: absolute;
    top: -1px;
    left: -25px;
  }
}

.no-border {
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
}

.format-input {
  color: #00298f;
  font-weight: 700;
  font-size: 1.2rem;
}

.format-input:focus {
  color: #00298f;
}

.nav-config {
  background: #000066;
  padding: 0;
}

.nav-icon {
  display: none;
  margin-right: 5px;
}

@media only screen and (max-width: 61.95em) {
  .nav-icon {
    display: inline-block;
  }
}

.nav-link {
  color: #fff !important;
}

.nav__logo {
  background: #2cb5e8;
  height: 8rem;
  width: 15rem;
  padding: 10px 0 10px 20px;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .nav__logo {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
  }
}

.nav__logo-container a {
  text-decoration: none;
}

.nav__logo-text, .nav__logo-text:link, .nav__logo-text:visited {
  color: #fff;
  font-size: 2rem;
}

.nav__logo-text span, .nav__logo-text:link span, .nav__logo-text:visited span {
  font-family: 'SuecaSemiBold';
}

.navbar-toggler {
  border-color: #fff;
  color: #fff;
  z-index: 1;
}

.navbar-collapse {
  z-index: 1;
}

.navbar-category {
  width: 100%;
}

.navbar-category li {
  font-family: 'SuecaSemiBold';
  text-transform: uppercase;
  margin: auto;
}

@media only screen and (max-width: 61.95em) {
  .navbar-category li {
    margin: 0 20%;
  }
}

.navbar-category li:hover {
  background: #2cb5e8;
  border-color: #fff;
  color: #fff !important;
  text-decoration: none;
}

.navbar-category li:hover > a {
  color: #fff !important;
}

@media only screen and (max-width: 61.95em) {
  .navbar-category li a {
    color: #00298f !important;
    font-family: 'SuecaMedium';
  }
}

.navbar-category li .dropdown-menu {
  background: #000066;
  font-family: 'SuecaMedium';
}

.navbar-category li .dropdown-menu a {
  color: #fff !important;
}

.navbar-category li .dropdown-menu a:hover {
  color: #2cb5e8 !important;
}

@media only screen and (max-width: 61.95em) {
  .navbar-category li {
    background: #fff;
    color: #00298f;
    border: 2px solid #00298f;
    text-align: center;
    border-radius: 0;
  }
}

.search-navbar {
  margin: 5px 0;
}

@media only screen and (max-width: 61.95em) {
  .search-navbar {
    width: 60%;
    margin: 0 auto;
    border: 2px solid #000066;
  }
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.circle-buttom {
  text-decoration: none;
  color: #fff;
}

.circle-buttom:hover {
  text-decoration: none;
  color: #fff;
}

.nopadding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.btn-edit-blue {
  color: #fff;
  background: #2CB5E8;
  border: 2px solid #2CB5E8;
}

.btn-edit-blue:hover {
  background-color: transparent;
  text-decoration: none;
  color: #2CB5E8;
  border-color: #2CB5E8;
}

.hr {
  border-color: #1fc8db;
}

/* |||||||||||||||||||| Navbar |||||||||||||||||||||*/
/* |||||||||||||||||||| First Carousel |||||||||||||||||||||*/
.hero-section {
  height: 70vh;
  margin-top: 10px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 41, 143, 0.5)), to(rgba(0, 0, 102, 0.8))), url("/images/hero.png");
  background-image: linear-gradient(to right bottom, rgba(0, 41, 143, 0.5), rgba(0, 0, 102, 0.8)), url("/images/hero.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .hero-section {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 55vh, 70% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 55vh, 70% 100%, 0 100%);
  }
}

.hero-section__btn {
  width: 80%;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.6rem;
  background: #2cb5e8;
  border-color: #2cb5e8;
  font-family: 'SuecaSemiBold', sans-serif;
  position: relative;
  -webkit-animation: moveInBottom 1s ease-out;
          animation: moveInBottom 1s ease-out;
}

.hero-section__btn:hover {
  background: #fff;
  border-color: #fff;
  color: #2cb5e8;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.hero-section__btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background: #fff;
}

.hero-section__btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #2cb5e8;
}

.hero-section-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 2.4rem;
}

.hero-section-text h1 {
  font-family: 'SuecaSemiBold', sans-serif;
  text-transform: uppercase;
  font-size: 4.8rem;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}

.hero-section-text h5 {
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
}

/* |||||||||||||||||||| Second Carousel |||||||||||||||||||||*/
/* Carousel */
.box-title {
  min-height: 52px;
}

.box-description {
  max-height: 240px;
  height: 105px;
  overflow-y: auto;
}

.owl-carousel .carousel-item {
  background: #fff;
  border: 1px solid #D9D7DA;
  text-align: center;
}

.owl-carousel .carousel-item-text {
  padding: 12px;
}

.owl-carousel .carousel-item .item-kicker {
  color: #9A5053;
  display: block;
  font-size: .8em;
  font-weight: 600;
  height: 30px;
  margin-bottom: 16px;
  overflow: hidden;
  text-transform: uppercase;
}

.owl-carousel .carousel-item .item-title {
  color: #646464;
  font-size: 1em;
  font-weight: 600;
  height: 38px;
  margin: 0;
  overflow: hidden;
}

.owl-dots {
  text-align: center;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.owl-dot {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  display: inline-block;
  background: rgba(127, 127, 127, 0.5);
  margin-left: 5px;
  margin-right: 5px;
}

.owl-dot.active {
  background: #7f7f7f;
}

/* Tabs */
.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-tabs > li {
  display: block;
  position: relative;
  text-align: center;
}

.nav-tabs > li:last-child {
  margin-right: 0;
}

.tab-content {
  display: inline-block;
  width: 100%;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

.item h5 {
  word-wrap: break-word;
  padding: 3px;
}

.box-description p {
  word-wrap: break-word;
  margin: 0;
  padding: 3px;
}

/* |||||||||||||||||||| Profile |||||||||||||||||||||*/
.box-panel-admin {
  border: 1px solid #1fc8db;
}

.img-profile {
  border-radius: 50%;
  max-width: 90%;
}

.box-img {
  padding: 2em;
}

.box-admin {
  margin: 10% auto;
  padding: 10px;
}

.edit-section {
  margin: 5% auto;
  padding: 0px 5%;
}

/* |||||||||||||||||||| Dashboard-admin |||||||||||||||||||||*/
.circle {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 0;
  padding: 50% 0;
  border-radius: 50%;
  /* Just making it pretty */
  background: #38a9e4;
  color: white;
  text-align: center;
}

.padding-button {
  padding: 15px 0 !important;
  background-color: #2CB5E8;
}

#blue {
  background-color: #4267b2;
  -webkit-box-shadow: 2px 2px 2px #cfcfcf;
          box-shadow: 2px 2px 2px #cfcfcf;
}

#green {
  background-color: #a1bc31;
  -webkit-box-shadow: 2px 2px 2px #cfcfcf;
          box-shadow: 2px 2px 2px #cfcfcf;
}

#purple {
  background: #c27ba0;
  -webkit-box-shadow: 2px 2px 2px #cfcfcf;
          box-shadow: 2px 2px 2px #cfcfcf;
}

/* |||||||||||||||||||| Benefits Details|||||||||||||||||||||*/
.box-benefits {
  margin: 5% auto;
}

.social-benefits {
  font-size: 25px;
  color: #c1c1c1;
  padding: 15px;
  margin: 5px auto;
}

.social-benefits:hover {
  text-decoration: none;
  color: #2CB5E8;
}

.b-radius {
  border-radius: 0 !important;
}

.size {
  height: 300px;
}

@media only screen and (max-width: 37.5em) {
  .size {
    height: 220px;
  }
}

.edit-carousel {
  height: 300px;
}

@media only screen and (max-width: 56.25em) {
  .edit-carousel {
    height: auto;
  }
}

.edit-card {
  min-height: 125px;
}

@media only screen and (max-width: 56.25em) {
  .edit-card {
    min-height: auto;
  }
}

.box-center {
  margin: 5% auto;
}

.btn-benefit {
  background: #2CB5E8;
  color: #fff;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 2px #cfcfcf;
          box-shadow: 2px 2px 2px #cfcfcf;
  width: 100%;
  padding: 4% 0;
  border: 2px solid #2CB5E8;
  cursor: pointer;
  font-size: 1.3em;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 580;
}

@media only screen and (max-width: 56.25em) {
  .btn-benefit {
    font-size: 1em;
  }
}

.btn-benefit:hover {
  border: 2px solid #2CB5E8;
  background-color: #fff;
  color: #2CB5E8;
}

.center-text {
  margin: 6% 10%;
}

/*||||||||||||||||||| Franchise |||||||||||||||||||||||*/
.edit-section2 {
  margin: 5% 15%;
}

.box-description2 {
  overflow-y: auto;
  word-wrap: break-word;
  height: 100px;
}

@media only screen and (max-width: 75em) {
  .box-description2 {
    height: 60px;
  }
}

.card-footer2 {
  border: none;
  padding: 0;
}

.img-franchise {
  max-height: 350px;
  width: 100%;
}

.img-publicist {
  max-height: 250px;
}

/*||||||||||||||||||| Closest Benefits |||||||||||||||||||||||*/
.center-km {
  width: 65%;
  margin: auto;
  text-align: center;
}

.box-panel-closest {
  max-height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.border-closest {
  border-top: 1px solid #2CB5E8;
  border-bottom: 1px solid #2CB5E8;
}

@media only screen and (max-width: 56.25em) {
  .border-closest {
    border: none;
  }
}

.border-closest2 {
  border-top: 1px solid #2CB5E8;
  border-left: 1px solid #2CB5E8;
  border-bottom: 1px solid #2CB5E8;
}

@media only screen and (max-width: 56.25em) {
  .border-closest2 {
    border: none;
  }
}

/* Code maps */
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}

.section__title {
  color: #fff;
  background: #000;
  font-family: 'SuecaSemiBold', sans-serif;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  border-top: 1px solid #666666;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin: 50px auto 0px;
}

.section__title-separator {
  margin-top: 0;
  margin-bottom: 0;
  background: #666666;
}
