@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,latin-ext);@import url(https://fonts.googleapis.com/css?family=Open+Sans);@import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);@import url(https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@font-face {
  font-family: SuecaMedium;
  src: url("/fonts/sueca-medium.ttf");
}

@font-face {
  font-family: SuecaSemiBold;
  src: url("/fonts/sueca-bold.ttf");
}

@font-face {
  font-family: PrumoBold;
  src: url("/fonts/PrumoSlab-Bold.otf");
}

@font-face {
  font-family: PrumoMedium;
  src: url("/fonts/PrumoSlab-Medium.otf");
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'SuecaMedium', sans-serif;
  font-size: 1.6rem;
}

.u-center-text {
  text-align: center !important;
}

.u-auto-margin {
  margin: auto;
}

.u-padding-rightbig {
  padding-right: 50px;
}

.u-leftspacing-zero {
  padding-left: 0;
  margin-left: 0;
}

.text {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  height: 70px;
}

.area {
  width: 100%;
  float: left;
  margin-top: 15px;
}

.area .input,
.area .input label {
  width: 100%;
  float: left;
  position: relative;
}

.area .input {
  overflow: hidden;
  border-radius: 2px;
  color: #fff;
  background-color: #2cb5e8;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: 200ms;
  -webkit-transition: 200ms;
  -ms-transition: 200ms;
}

@media only screen and (max-width: 43.75em) {
  width: 135px;
  height: 135px;
}

.area .input input {
  display: none;
}

.area .input label {
  font-weight: 400;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 14px;
  z-index: 3;
  transition: 200ms;
  -webkit-transition: 200ms;
  -ms-transition: 200ms;
  height: 35px;
  line-height: 40px;
}

@media only screen and (max-width: 56.25em) {
  .area .input label {
    line-height: 30px;
    height: 30px;
  }
}

.area .input:hover {
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.area .input label:hover {
  letter-spacing: .8px;
}

.click-efect {
  position: absolute;
  top: 0;
  left: 0;
  background: #000066;
  border-radius: 50%;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.content__ranking {
  -webkit-animation: moveInBottom 1s ease-in-out;
          animation: moveInBottom 1s ease-in-out;
}

.owl-carousel .owl-item img {
  height: 100%;
}

.card {
  text-align: right;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 2px 5px 0.5px #e9ecef;
          box-shadow: 0px 2px 5px 0.5px #e9ecef;
  border: none;
  border-top: 5px solid #000066;
}

.card .title_category__title {
  font-family: 'SuecaSemiBold', sans-serif;
  font-size: 1.6rem;
  /* margin: 5rem auto; */
  text-align: start;
  margin-left: 5px;
  vertical-align: middle;
  margin-top: 1.7%;
}

@media only screen and (max-width: 22.5em) {
  .card .title_category__title {
    margin-top: 6.8%;
  }
}

.card .title_category__svg {
  color: #fff;
  background: #00298f;
  border-radius: 50px;
  padding: 11px;
  width: 50px !important;
  height: 50px;
  margin: .6%;
  margin-left: 25px;
}

@media only screen and (max-width: 22.5em) {
  .card .title_category__svg {
    margin: 2% 3%;
  }
}

.card .title_category__svg:hover {
  background: #2cb5e8;
}

.ranking-item-father {
  position: relative;
  -webkit-perspective: 150rem;
          perspective: 150rem;
  height: 20rem;
}

@media only screen and (min-width: 68em) {
  .ranking-item-father {
    height: 18rem;
  }
}

@media only screen and (min-width: 87.5em) {
  .ranking-item-father {
    height: 20rem;
  }
}

@media only screen and (max-width: 75em) {
  .ranking-item-father {
    height: 18rem;
  }
}

@media only screen and (max-width: 30em) {
  .ranking-item-father {
    height: 20rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .ranking-item-father {
    height: 19rem;
  }
}

.ranking-item-father:hover > .ranking-item {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.ranking-item-father:hover > .ranking-item-back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.ranking-item-father > .ranking-item, .ranking-item-father > .ranking-item-back {
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ranking-item-father > .ranking-item-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.ranking-item {
  margin-bottom: 1.2rem;
  height: 100%;
}

.ranking-item a:hover .ranking-item__title {
  color: #00298f;
}

.ranking-item__title {
  color: #000;
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
  display: none;
}

@media only screen and (max-width: 75em) {
  .ranking-item__title {
    display: block;
  }
}

.ranking-item a {
  font-size: 1.6rem;
  background: #00298f;
  border-color: #00298f;
}

.ranking-item a:hover {
  color: #00298f;
  background: #fff;
}

.ranking-item .btn-primary {
  padding: 5px 15px;
  font-size: 1.8rem;
}

@media only screen and (max-width: 43.75em) {
  .ranking-item .btn-primary {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 56.25em) {
  .ranking-item .btn-primary {
    margin-right: 0;
  }
}

@media only screen and (max-width: 22.5em) {
  .ranking-item .btn-primary {
    width: 100%;
    margin-right: 0;
  }
}

.ranking-item__image-container {
  position: relative;
  height: 100%;
}

.ranking-item__image-container__sticker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 181, 232, 0.5)), to(#2cb5e8));
  background-image: linear-gradient(to right bottom, rgba(44, 181, 232, 0.5), #2cb5e8);
  background-size: cover;
  background-position: top;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .ranking-item__image-container__sticker {
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 85%, 90% 100%, 50% 100%);
    clip-path: polygon(50% 0, 100% 0, 100% 85%, 90% 100%, 50% 100%);
  }
}

.ranking-item__image-container__sticker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 4.8rem;
  font-family: 'PrumoBold', sans-serif;
}

@media only screen and (min-width: 112.5em) {
  .ranking-item__image-container__sticker-text {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 75em) {
  .ranking-item__image-container__sticker-text {
    font-size: 4.8rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .ranking-item__image-container__sticker-text {
    font-size: 3.2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .ranking-item__image-container__sticker-text {
    font-size: 4.8rem;
  }
}

.ranking-item-back {
  margin-bottom: 1.2rem;
  height: 100%;
}

@media only screen and (min-width: 112.5em) {
  .ranking-item-back {
    height: 15rem;
  }
}

.ranking-item-back a:hover .ranking-item__title {
  color: #00298f;
}

.ranking-item-back__title {
  color: #000;
  padding-top: 5px;
  padding-right: 5px;
  text-align: right;
}

.ranking-item-back a {
  font-size: 1.6rem;
  background: #00298f;
  border-color: #00298f;
}

.ranking-item-back a:hover {
  color: #00298f;
  background: #fff;
}

.ranking-item-back .btn-primary {
  margin-right: 50px;
}

.ranking-item-back__image-container {
  position: relative;
  height: 100%;
}

.ranking-item-back__image-container__sticker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 181, 232, 0.5)), to(#2cb5e8));
  background-image: linear-gradient(to right bottom, rgba(44, 181, 232, 0.5), #2cb5e8);
  background-size: cover;
  background-position: top;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .ranking-item-back__image-container__sticker {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%);
  }
}

.ranking-item-back__image-container__sticker-text {
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 2.5rem;
  font-family: 'PrumoBold', sans-serif;
  text-align: center;
  margin: 5% 3%;
}

@media only screen and (min-width: 112.5em) {
  .ranking-item-back__image-container__sticker-text {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 75em) {
  .ranking-item-back__image-container__sticker-text {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .ranking-item-back__image-container__sticker-text {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .ranking-item-back__image-container__sticker-text {
    font-size: 2.5rem;
  }
}

.shops__container {
  padding: 10px;
}

.shops__container .box-description {
  height: 70px;
  max-height: inherit;
  overflow: hidden;
}

.shops__container a img {
  height: 130px !important;
}

.li-config {
  cursor: default;
  display: inline-block;
  font-size: 15px;
  padding: 0 5px;
  list-style-type: none;
}

.rating {
  padding-left: 0;
}

.star,
.rating:not(.vote-cast):hover .star:hover ~ .star,
.rating.vote-cast .star.selected ~ .star {
  /* normal state */
  color: #c1c1c1;
}

.rating:hover .star,
.rating.vote-cast .star {
  /* highlighted state */
  color: #f9e25c;
}

/*   code star end  */
.owl-dots {
  display: none;
}

.card-item {
  margin-bottom: 1.2rem;
}

.card-item a:hover .card-item__title {
  color: #00298f;
}

.card-item__title {
  color: #000;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
}

.card-item a {
  font-size: 1.6rem;
  background: #00298f;
  border-color: #00298f;
}

.card-item a:hover {
  color: #00298f;
  background: #fff;
}

.card-item__image-container {
  position: relative;
}

.card-item__image-container__sticker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(44, 181, 232, 0.5)), to(#2cb5e8));
  background-image: linear-gradient(to right bottom, rgba(44, 181, 232, 0.5), #2cb5e8);
  background-size: cover;
  background-position: top;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .card-item__image-container__sticker {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }
}

.card-item__image-container__sticker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(40%, -50%);
          transform: translate(40%, -50%);
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 4.8rem;
  font-family: 'PrumoBold', sans-serif;
}

@media only screen and (min-width: 112.5em) {
  .card-item__image-container__sticker-text {
    font-size: 4.16rem;
  }
}

@media only screen and (max-width: 75em) {
  .card-item__image-container__sticker-text {
    font-size: 3.84rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(60%, -20%);
            transform: translate(60%, -20%);
  }
}

.owl-stage-outer {
  padding-bottom: 10px;
}

.news-item {
  margin-bottom: 1.2rem;
}

.news-item a:hover .news-item__title {
  color: #00298f;
}

.news-item__autor {
  color: #000;
  padding-top: 5px;
  padding-left: 10px;
  float: left;
}

.news-item__date {
  color: #000;
  padding-top: 5px;
  padding-right: 10px;
  float: right;
}

.news-item a {
  font-size: 1.6rem;
  background: #00298f;
  border-color: #00298f;
}

.news-item a:hover {
  color: #00298f;
  background: #fff;
}

.news-item__image-container {
  position: relative;
}

.news-item__image-container__sticker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 41, 143, 0.5)), to(#00298f));
  background-image: linear-gradient(to right bottom, rgba(0, 41, 143, 0.5), #00298f);
  background-size: cover;
  background-position: top;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .news-item__image-container__sticker {
    -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
  }
}

.news-item__image-container__sticker-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 1.6rem;
  font-family: 'PrumoBold', sans-serif;
  overflow: hidden;
  width: 100%;
  height: 100px;
}

@media only screen and (min-width: 112.5em) {
  .news-item__image-container__sticker-text {
    font-size: 2.4rem;
  }
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #000066;
}

.box-dashboard-list {
  width: 100%;
  text-align: left;
}

.box-dashboard-list__title {
  color: #2cb5e8;
  font-size: 1.6rem;
  font-family: 'SuecaSemiBold', sans-serif;
  text-align: center;
}

.box-dashboard-list__search {
  font-size: 1.6rem;
  border-color: #000066;
}

.box-dashboard-list__custom-label::before {
  width: 1.15em;
  height: 1.15em;
}

.box-dashboard-list__custom-label::after {
  background-size: 100% 100%;
  top: .45em;
  left: 4.5px;
}

.box-dashboard-list button {
  background-color: #000066;
  color: #fff;
  border: 2px solid #000066;
}

.box-dashboard-list button:hover {
  background-color: #fff;
  color: #000066;
  border: 2px solid #000066;
}

.box-dashboard-list__select {
  border-color: #000066;
}

.card-list {
  text-align: right;
  border-radius: 1rem;
  -webkit-box-shadow: 0px 2px 5px 0.5px #e9ecef;
          box-shadow: 0px 2px 5px 0.5px #e9ecef;
  border: none;
  border-top: 5px solid #000066;
}

.card-list__title {
  font-family: 'SuecaSemiBold', sans-serif;
  font-size: 1.6rem;
  text-align: start;
}

@media only screen and (max-width: 43.75em) {
  .card-list__title {
    font-size: 1.45454545rem;
  }
}

.card-list__text {
  text-align: justify;
}

.card-list a {
  background-color: #000066;
  color: #fff;
  border: 2px solid #000066;
}

.card-list a:hover {
  background-color: #fff;
  color: #000066;
  border: 2px solid #000066;
}

/*Page styles*/
.boxes {
  margin: auto;
}

/*Checkboxes styles*/
.checkbox-edit {
  display: none;
}

.checkbox-edit + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font-family: 'SuecaSemiBold', sans-serif;
  font-size: 1.6rem;
  color: #000066;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.checkbox-edit + label:last-child {
  margin-bottom: 0;
}

.checkbox-edit + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid #2cb5e8;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.checkbox-edit:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media only screen and (min-width: 112.5em) {
  .closet-container {
    margin: auto 5%;
  }
}

.box-km button {
  background-color: #000066;
  color: #fff;
  border: 2px solid #000066;
  font-size: 1.2rem;
}

.box-km button:hover {
  background-color: #fff;
  color: #000066;
  border: 2px solid #000066;
  font-size: 1.2rem;
}

.box-panel-closest {
  max-height: 650px;
}

.box-panel-closest__title {
  font-family: 'SuecaSemiBold', sans-serif;
  font-size: 1.6rem;
  text-align: start;
  color: #000066;
}

.box-panel-closest__text {
  text-align: justify;
}

.box-panel-closest a {
  background-color: #000066;
  color: #fff;
  border: 2px solid #000066;
  font-size: 1.2rem;
}

.box-panel-closest a:hover {
  background-color: #fff;
  color: #000066;
  border: 2px solid #000066;
  font-size: 1.2rem;
}

.box-img-gps #map_canvas {
  height: 100% !important;
}

@media only screen and (min-width: 112.5em) {
  .box-img-gps #map_canvas {
    height: 55% !important;
    width: 85% !important;
  }
}

@media only screen and (max-width: 75em) {
  .box-img-gps #map_canvas {
    height: 55% !important;
  }
}

@media only screen and (max-width: 63.5em) {
  .box-img-gps #map_canvas {
    height: 50vh !important;
  }
}

@media only screen and (max-width: 22.5em) {
  .box-img-gps #map_canvas {
    height: 50vh !important;
  }
}

.dashboard {
  padding-top: 10%;
  width: 100%;
}

@media only screen and (max-width: 22.5em) {
  .dashboard {
    padding: 0;
  }
}

@media only screen and (max-width: 63.5em) {
  .dashboard {
    padding-top: 10%;
  }
}

.dashboard__image-profile {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid #000066;
}

@media only screen and (max-width: 63.5em) {
  .dashboard__image-profile {
    max-width: 135px;
    max-height: 135px;
  }
}

.dashboard__label {
  color: #2cb5e8;
  font-family: 'SuecaSemiBold', sans-serif;
}

.dashboard__list {
  text-align: left;
  margin: auto 5%;
}

.dashboard__list a {
  text-decoration: none;
  color: #000;
}

.dashboard__list a:hover {
  text-decoration: none;
  color: #fff;
}

.dashboard__list__button {
  border: none;
  -webkit-transition: .3s;
  transition: .3s;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.6rem;
}

.dashboard__list__button:hover {
  background: #000066;
  color: #fff;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 63.5em) {
  .dashboard__list__button {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .dashboard__list__button {
    font-size: 1.6rem;
  }
}

.dashboard__button {
  background: #000066;
  border: 2px solid #000066;
  color: #fff;
  font-size: 1.6rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.dashboard__button:hover {
  background: #fff;
  border: 2px solid #000066;
  color: #000066;
  font-size: 1.6rem;
}

.circle-first {
  background-color: #324A5F;
}

.circle-second {
  background-color: #581C4D;
}

.circle-third {
  background-color: #841C26;
}

.content-admin {
  padding: 10% 5px;
}

@media only screen and (max-width: 22.5em) {
  .content-admin {
    padding: 0;
  }
}

.content-admin a {
  text-decoration: none;
}

.content-admin a:hover {
  text-decoration: none;
}

.content-admin__img {
  max-width: 100%;
}

.content-admin__title {
  font-family: 'SuecaSemiBold', sans-serif;
  color: #2cb5e8;
  font-size: 1.6rem;
}

@media only screen and (max-width: 56.25em) {
  .content-admin__title {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .content-admin__title {
    margin-bottom: 5%;
  }
}

@media only screen and (max-width: 30em) {
  .content-admin .box-admin {
    margin: auto;
    padding: 0;
  }
}

.content-admin__button {
  font-size: 1.6rem;
  padding: 15px 0;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .3s;
  transition: .3s;
  font-size: 1.6rem;
}

@media only screen and (max-width: 63.5em) {
  .content-admin__button {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 22.5em) {
  .content-admin__button {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .content-admin__button {
    font-size: 1.2rem;
    padding: 10px 0;
  }
}

.content-admin__button:hover {
  background: #fff;
  color: #000066;
  text-decoration: none;
}

.dashboard-profile {
  padding-top: 20%;
}

@media only screen and (max-width: 56.25em) {
  .dashboard-profile {
    padding-top: 45%;
  }
}

@media only screen and (max-width: 30em) {
  .dashboard-profile {
    padding-top: 10%;
  }
}

.section_profile {
  margin: 5% auto;
}

.section_profile h4 {
  font-size: 2.8rem;
  text-align: center;
  color: #2cb5e8;
  margin-bottom: 10%;
  font-family: 'SuecaSemiBold', sans-serif;
}

.section_profile__input {
  font-size: 1.6rem;
}

.section_profile__button {
  background: #000066;
  color: #fff;
  font-size: 1.6rem;
  border: 2px solid #000066;
  padding: 5px 15px;
}

@media only screen and (max-width: 30em) {
  .section_profile__button {
    font-size: 1.6rem;
    width: 100%;
    margin-top: 2%;
  }
}

.section_profile__button:hover {
  border: 2px solid #000066;
  padding: 5px 15px;
  background: #fff;
  color: #000066;
  font-size: 1.6rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #000066;
}

.box-benefits__title {
  text-align: justify;
  font-family: 'SuecaSemiBold', sans-serif;
  font-size: 1.9rem;
  color: #000066;
}

.box-benefits__text {
  text-align: justify;
  height: 140px;
  overflow-y: auto;
}

@media only screen and (max-width: 56.25em) {
  .box-benefits__text {
    height: 80px;
  }
}

@media only screen and (max-width: 56.25em) {
  .box-benefits__text {
    height: 120px;
  }
}

.box-benefits__custom-checkbox::before {
  width: 1em;
  height: 1em;
}

.box-benefits__custom-checkbox::after {
  background-size: 100% 100%;
  top: 0.4em;
  left: .21em;
}

@media only screen and (max-width: 30em) {
  .container-carousel__edit-carousel {
    height: auto;
  }
}

.container-carousel__size {
  height: 320px;
}

@media only screen and (max-width: 56.25em) {
  .container-carousel__size {
    height: 220px;
  }
}

@media only screen and (max-width: 30em) {
  .container-carousel__size {
    height: 230px;
  }
}

.box-terms {
  margin-top: 20px;
}

.box-terms__button {
  width: 82%;
  padding: 15px 0;
  color: #fff;
  background: #000066;
  border: 2px solid #000066;
  -webkit-box-shadow: 3px 3px 3px #c1c1c1;
          box-shadow: 3px 3px 3px #c1c1c1;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  font-weight: 550;
}

@media only screen and (max-width: 30em) {
  .box-terms__button {
    width: 100%;
  }
}

.box-terms__button:hover {
  background-color: #fff;
  color: #000066;
  letter-spacing: .8px;
}

@media only screen and (max-width: 30em) {
  .box-terms__button:hover {
    letter-spacing: 0;
  }
}

.box-terms__container-terms {
  margin: 3% 7%;
}

@media only screen and (max-width: 30em) {
  .box-terms__container-terms {
    margin: 7% auto;
  }
}

.box-terms__container-terms__title {
  font-family: 'SuecaSemiBold', sans-serif;
  color: #2cb5e8;
  font-size: 2.4rem;
}

.box-terms__container-terms__text {
  color: #4d4d4d;
}

a {
  color: #bbb;
}

.container-edit {
  min-height: auto;
}

@media only screen and (min-width: 112.5em) {
  .container-edit {
    min-height: 1116px;
  }
}

@media only screen and (max-width: 75em) {
  .container-edit {
    min-height: 1084px;
  }
}

@media only screen and (max-width: 56.25em) {
  .container-edit {
    min-height: 760px;
  }
}

@media only screen and (max-width: 30em) {
  .container-edit {
    min-height: auto;
  }
}

.content:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  display: block;
  background-image: url("http://ultraimg.com/images/Ho6hQWs.jpg");
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}

.content {
  width: 100%;
  height: auto;
  background-color: rgba(43, 38, 54, 0.8);
  margin: 20% auto;
  padding: 4%;
}

@media only screen and (max-width: 30em) {
  .content {
    margin: 5% auto;
    padding: 10px;
  }
}

.content .title {
  font-family: 'SuecaSemiBold', sans-serif;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 600;
  color: #fff;
  padding-bottom: 30px;
}

@media only screen and (max-width: 30em) {
  .content .title {
    font-size: 2.6rem;
  }
}

.content input {
  width: 100%;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  margin: 10px 0px;
  border: none;
  padding: 10px;
}

.content input[type="checkbox"] {
  display: none;
}

.content label {
  display: inline-block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
  margin-left: 5px;
  margin-right: 10px;
  top: 5px;
}

.content label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
  left: 0;
  bottom: 1px;
  background-color: #fff;
}

.content input[type="checkbox"]:checked + label:before {
  content: "\2713";
  font-size: 20px;
  color: #000066;
  text-align: center;
  line-height: 20px;
  font-weight: 550;
}

.content span {
  font-size: 1.6rem;
  color: #fff;
}

.content button {
  width: 100%;
  font-size: 1.6rem;
  padding: 15px;
  margin: 20px 0px;
  background: #2cb5e8;
  color: #fff;
  border: 0;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.content button:hover {
  background-color: #000066;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 2px;
}

.content .social {
  width: 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-size: 1.6rem;
}

.content .social span {
  display: inline-block;
  vertical-align: baseline;
  padding: 0 20px;
}

.content .social span:before, .content .social span:after {
  content: "";
  display: block;
  width: 500px;
  position: absolute;
  top: 0.9em;
  border-top: 1px solid White;
}

.content .social span:before {
  right: 75%;
}

.content .social span:after {
  left: 75%;
}

.content .buttons {
  width: 100%;
  margin: 30px 0px;
}

.content .buttons button {
  float: left;
  width: 47%;
  margin: 0px 1.5%;
  font-size: 1.6rem;
}

.content .buttons button i {
  padding-right: 7px;
}

.content .buttons button.facebook {
  background-color: #4464b2;
}

.content .buttons button.twitter {
  background-color: #28a9e0;
}

.content .buttons button.google {
  background-color: #da4735;
}

.content .buttons:after {
  content: "";
  display: block;
  clear: both;
}

.content_login__button {
  font-size: 1.9rem;
  margin: 2% auto;
  color: #fff;
}

.content_login__button:hover {
  color: #2cb5e8;
  text-decoration: none;
}

.content_sign-up__button-register {
  letter-spacing: 3px;
}

.footer {
  font-family: 'SuecaSemiBold', sans-serif;
  color: #fff;
  background: #000066;
  padding: 15px;
  border: 0;
}

.footer__social {
  color: #fff;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__social:hover {
  color: #2cb5e8;
}

.footer__social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
}

@media only screen and (max-width: 30em) {
  .footer-media {
    float: none !important;
  }
}

.footer-copyright {
  width: 100%;
  font-family: 'SuecaMedium', sans-serif;
  font-size: 1.2rem;
}

@media only screen and (max-width: 30em) {
  .footer-copyright {
    margin-top: 20px;
  }
}

.footer-links {
  font-size: 1.2rem;
}

.footer-links-container {
  border-right: 1px solid;
}

@media only screen and (max-width: 30em) {
  .footer-links-container {
    border-right: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
}

.footer-links ul {
  list-style: none;
}

@media only screen and (max-width: 30em) {
  .footer-links ul {
    margin-top: 20px;
  }
}

.footer-links ul li {
  line-height: 3;
  font-family: 'SuecaMedium', sans-serif;
  font-weight: 100;
}

.footer-links ul li:hover {
  cursor: pointer;
  color: #2cb5e8;
}

.footer-links span {
  opacity: 0;
}

.btn-edit-login {
  margin-top: 4px;
  border: 2px solid #2cb5e8;
  background: #fff;
  color: #2cb5e8;
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 20px;
  padding: 0px 20px;
}

@media only screen and (max-width: 37.5em) {
  .btn-edit-login {
    padding: 3.5px 20px;
  }
}

.btn-edit-login:hover {
  background: #2cb5e8;
  border-color: #fff;
  color: #fff !important;
  text-decoration: none;
}

@media only screen and (max-width: 61.95em) {
  .btn-edit-login {
    background: #fff;
    color: #00298f;
    border: 2px solid #00298f;
    text-align: center;
    border-radius: 0;
    width: 60%;
    margin: 0 auto;
  }
}

.btn-search {
  height: 25px;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 61.95em) {
  .btn-search svg {
    background: #fff;
    color: #00298f;
    height: 25px;
    padding: 10%;
    margin: 0px;
    position: absolute;
    top: -1px;
    left: -25px;
  }
}

.no-border {
  margin: 0 !important;
  border: none !important;
  border-radius: 0 !important;
}

.format-input {
  color: #00298f;
  font-weight: 700;
  font-size: 1.2rem;
}

.format-input:focus {
  color: #00298f;
}

.nav-config {
  background: #000066;
  padding: 0;
}

.nav-icon {
  display: none;
  margin-right: 5px;
}

@media only screen and (max-width: 61.95em) {
  .nav-icon {
    display: inline-block;
  }
}

.nav-link {
  color: #fff !important;
}

.nav__logo {
  background: #2cb5e8;
  height: 8rem;
  width: 15rem;
  padding: 10px 0 10px 20px;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .nav__logo {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
  }
}

.nav__logo-container a {
  text-decoration: none;
}

.nav__logo-text, .nav__logo-text:link, .nav__logo-text:visited {
  color: #fff;
  font-size: 2rem;
}

.nav__logo-text span, .nav__logo-text:link span, .nav__logo-text:visited span {
  font-family: 'SuecaSemiBold';
}

.nav__logo-container {
  background: #2cb5e8;
  height: 8rem;
  width: 15rem;
  padding: 10px 0 10px 20px;
}

@supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) or (-webkit-clip-path: polygon(0 0)) {
  .nav__logo-container {
    -webkit-clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
  }
}

.nav__logo-container img {
  max-width: 75%;
}

.navbar-nav__social {
  font-size: 2.6rem;
  color: #fff;
  width: 100%;
}

.navbar-toggler {
  border-color: #fff;
  color: #fff;
  z-index: 1;
}

.navbar-collapse {
  z-index: 1;
}

.navbar-category {
  width: 100%;
}

.navbar-category li {
  font-family: 'SuecaSemiBold';
  text-transform: uppercase;
  margin: auto;
}

@media only screen and (max-width: 61.95em) {
  .navbar-category li {
    margin: 0 20%;
  }
}

.navbar-category li:hover {
  background: #2cb5e8;
  border-color: #fff;
  color: #fff !important;
  text-decoration: none;
}

.navbar-category li:hover > a {
  color: #fff !important;
}

@media only screen and (max-width: 61.95em) {
  .navbar-category li a {
    color: #00298f !important;
    font-family: 'SuecaMedium';
  }
}

.navbar-category li .dropdown-menu {
  background: #000066;
  font-family: 'SuecaMedium';
}

.navbar-category li .dropdown-menu a {
  color: #fff !important;
}

.navbar-category li .dropdown-menu a:hover {
  color: #2cb5e8 !important;
}

@media only screen and (max-width: 61.95em) {
  .navbar-category li {
    background: #fff;
    color: #00298f;
    border: 2px solid #00298f;
    text-align: center;
    border-radius: 0;
  }
}

.search-navbar {
  margin: 5px 0;
}

@media only screen and (max-width: 61.95em) {
  .search-navbar {
    width: 60%;
    margin: 0 auto;
    border: 2px solid #000066;
  }
}

#social {
  margin: auto 10px;
  text-align: center;
}

.smGlobalBtn {
  /* global button class */
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  margin: auto 5px;
  font-weight: normal;
  line-height: 2em;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
}

/* twitter button class*/
.nav-icon2 {
  background: #fff;
  color: #2cb5e8;
  border-color: #000066;
  -webkit-transition: .3s;
  transition: .3s;
}

.nav-icon2:hover {
  color: #fff;
  background: #2cb5e8;
  border-color: #2cb5e8;
}

input.empty {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.circle-buttom {
  text-decoration: none;
  color: #fff;
}

.circle-buttom:hover {
  text-decoration: none;
  color: #fff;
}

.nopadding {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.btn-edit-blue {
  color: #fff;
  background: #2CB5E8;
  border: 2px solid #2CB5E8;
}

.btn-edit-blue:hover {
  background-color: transparent;
  text-decoration: none;
  color: #2CB5E8;
  border-color: #2CB5E8;
}

.hr {
  border-color: #1fc8db;
}

/* |||||||||||||||||||| First Carousel |||||||||||||||||||||*/
.carousel-father__carousel-sticker {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-size: cover;
  background-position: top;
}

@media only screen and (min-width: 87.5em) {
  .carousel-father__img-carousel {
    height: 50vh;
  }
}

@media only screen and (min-width: 68em) {
  .carousel-father__img-carousel {
    height: 580px;
  }
}

@media only screen and (max-width: 63.5em) {
  .carousel-father__img-carousel {
    height: 500px;
  }
}

@media only screen and (max-width: 56.25em) {
  .carousel-father__img-carousel {
    height: 470px;
  }
}

@media only screen and (max-width: 43.75em) {
  .carousel-father__img-carousel {
    height: 370px;
    max-height: 100%;
  }
}

@media only screen and (max-width: 30em) {
  .carousel-father__img-carousel {
    height: 300px;
    max-height: 100%;
  }
}

@media only screen and (max-width: 22.5em) {
  .carousel-father__img-carousel {
    height: 286px;
    max-height: 100%;
  }
}

.carousel-father__carousel-inner .hero-section-text {
  position: absolute;
  top: 35%;
  left: 35%;
  z-index: 1001;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 2px #0a0a0a;
  font-size: 2.4rem;
}

.carousel-father__carousel-inner .hero-section-text__btn {
  width: 80%;
  padding: 10px;
  margin-top: 50px;
  font-size: 1.6rem;
  background: #2cb5e8;
  border-color: #2cb5e8;
  font-family: 'SuecaSemiBold', sans-serif;
  position: relative;
  -webkit-animation: moveInBottom 1s ease-out;
          animation: moveInBottom 1s ease-out;
}

.carousel-father__carousel-inner .hero-section-text__btn::hover {
  background: #fff;
  border-color: #fff;
  color: #2cb5e8;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.carousel-father__carousel-inner .hero-section-text__btn::hover__btn::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
  background: #fff;
}

.carousel-father__carousel-inner .hero-section-text__btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
  background: #2cb5e8;
}

.carousel-father__carousel-inner .hero-section-text h1 {
  font-family: 'SuecaSemiBold', sans-serif;
  text-transform: uppercase;
  font-size: 4.8rem;
  -webkit-animation: moveInLeft 1s ease-in-out;
          animation: moveInLeft 1s ease-in-out;
}

@media only screen and (max-width: 22.5em) {
  .carousel-father__carousel-inner .hero-section-text h1 {
    font-size: 3.2rem;
  }
}

.carousel-father__carousel-inner .hero-section-text h5 {
  -webkit-animation: moveInRight 1s ease-in-out;
          animation: moveInRight 1s ease-in-out;
  font-size: 1.6rem;
}

.carousel-father__carousel-inner__carousel-item {
  z-index: 1000;
}

/* |||||||||||||||||||| Second Carousel |||||||||||||||||||||*/
.box-title {
  min-height: 52px;
}

.box-description {
  max-height: 240px;
  height: 105px;
  overflow-y: auto;
}

/* Tabs */
.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.nav-tabs > li {
  display: block;
  position: relative;
  text-align: center;
}

.nav-tabs > li:last-child {
  margin-right: 0;
}

.tab-content {
  display: inline-block;
  width: 100%;
}

.tab-content .tab-pane {
  display: none;
}

.tab-content .tab-pane.active {
  display: block;
}

.item h5 {
  word-wrap: break-word;
  padding: 3px;
}

.box-description p {
  word-wrap: break-word;
  margin: 0;
  padding: 3px;
}

/* |||||||||||||||||||| Profile |||||||||||||||||||||*/
.box-panel-admin {
  border: 1px solid #1fc8db;
}

.img-profile {
  border-radius: 50%;
  max-width: 90%;
}

.box-img {
  padding: 2em;
}

.box-admin {
  margin: 10% auto;
  padding: 10px;
}

.edit-section {
  margin: 5% auto;
  padding: 0px 5%;
}

/* |||||||||||||||||||| Dashboard-admin |||||||||||||||||||||*/
.padding-button {
  padding: 15px 0 !important;
  background-color: #2CB5E8;
}

#blue {
  background-color: #4267b2;
  -webkit-box-shadow: 2px 2px 2px #cfcfcf;
          box-shadow: 2px 2px 2px #cfcfcf;
}

#green {
  background-color: #a1bc31;
  -webkit-box-shadow: 2px 2px 2px #cfcfcf;
          box-shadow: 2px 2px 2px #cfcfcf;
}

#purple {
  background: #c27ba0;
  -webkit-box-shadow: 2px 2px 2px #cfcfcf;
          box-shadow: 2px 2px 2px #cfcfcf;
}

/* |||||||||||||||||||| Benefits Details|||||||||||||||||||||*/
.box-benefits {
  margin: 5% auto;
}

.social-benefits {
  font-size: 25px;
  color: #c1c1c1;
  padding: 15px;
  margin: 5px auto;
}

.social-benefits:hover {
  text-decoration: none;
  color: #2CB5E8;
}

.b-radius {
  border-radius: 0 !important;
}

.edit-carousel {
  height: 200px;
}

@media only screen and (max-width: 56.25em) {
  .edit-carousel {
    max-height: 240px;
  }
}

.edit-card {
  min-height: 125px;
}

@media only screen and (max-width: 56.25em) {
  .edit-card {
    min-height: auto;
  }
}

.box-center {
  margin: 5% auto;
}

.btn-benefit {
  background: #2CB5E8;
  color: #fff;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 2px #cfcfcf;
          box-shadow: 2px 2px 2px #cfcfcf;
  width: 100%;
  padding: 4% 0;
  border: 2px solid #2CB5E8;
  cursor: pointer;
  font-size: 1.3em;
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 580;
}

@media only screen and (max-width: 56.25em) {
  .btn-benefit {
    font-size: 1em;
  }
}

.btn-benefit:hover {
  border: 2px solid #2CB5E8;
  background-color: #fff;
  color: #2CB5E8;
}

.center-text {
  margin: 6% 10%;
}

/*||||||||||||||||||| Franchise |||||||||||||||||||||||*/
.container-franchise {
  margin: 5% auto;
}

.container-franchise__limit-img {
  max-height: 360px;
}

.container-franchise__limit-img img {
  max-height: 360px;
  max-width: 100%;
}

.container-franchise__star {
  font-size: 30px;
  cursor: pointer;
}

.card-style {
  margin: auto 5%;
}

.card-style__separator {
  margin: 1em auto;
}

@media only screen and (max-width: 63.5em) {
  .card-style {
    margin: auto 10%;
  }
}

@media only screen and (max-width: 30em) {
  .card-style {
    margin: auto;
  }
}

.card-style__limit-img {
  width: 100%;
  border-radius: 7px;
  height: 230px;
}

.card-style__limit-img img {
  max-height: auto;
  max-width: 100%;
}

.card-style__title {
  font-family: 'SuecaSemiBold', sans-serif;
  font-size: 2.3rem;
  color: #000066;
  text-align: start;
}

.card-style__text {
  text-align: justify;
  font-size: 1.5rem;
}

.card-style__social {
  padding: 15px;
  border-left: 2px solid #c1c1c1;
  height: 100%;
  text-align: left;
  font-size: 1.4rem;
}

.card-style__social label {
  color: #000066;
}

.card-style__more {
  width: 100%;
  z-index: 150;
  font-size: 1.6rem;
  background-color: #2cb5e8;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.card-style__more:hover {
  background-color: #000066;
  color: #fff;
  letter-spacing: 1.5px;
}

/*||||||||||||||||||| Closest Benefits |||||||||||||||||||||||*/
.center-km {
  width: 65%;
  margin: auto;
  text-align: center;
}

.box-panel-closest {
  overflow-y: scroll;
  overflow-x: hidden;
}

.border-closest {
  border-bottom: 1px solid #000066;
}

@media only screen and (max-width: 56.25em) {
  .border-closest {
    border: none;
  }
}

.border-closest2 {
  border-left: 1px solid #000066;
}

@media only screen and (max-width: 56.25em) {
  .border-closest2 {
    border: none;
  }
}

/* Code maps */
#panel, #flip {
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

#panel {
  padding: 50px;
  display: none;
}

.section__title {
  color: #fff;
  background: #000;
  font-family: 'SuecaSemiBold', sans-serif;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  border-top: 1px solid #666666;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  margin: 50px auto 0px;
}

.section__title-separator {
  margin-top: 0;
  margin-bottom: 0;
  background: #666666;
}
